.App {

}
.header {
  width: 100%;
}

.shop {
  color: #D63031;
  font-weight: bold;
  font-style: oblique;
  font-size: 40px;

}
.logo h3 {
  text-decoration: underline;
  color: #2475B0;
  font-size: 35px;
  padding: 10px 0;
  margin-left: 15px;
}

.cart {
  display: flex;
  text-align: right;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(241, 241, 241);
}
.cart h4 {
  align-self: center;
  margin-left: 10px;
}
.fa-shopping-cart {
  font-size: 30px;
  color: #D63031;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50%;
}
.fa-shopping-cart:hover {
  color: #2475B0;
  cursor: pointer;
  transition: .5s;
}